In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('V5.csv')

In [4]:
df.shape

(10000, 12)

In [8]:
# prompt: How many unknown ("?) values are present in the dataset? Remove/Delete unknown ("?) values present in the dataset to make it null value.
# Remove/Delete - means it will show NAN in place of "?"
# Note: If there is no value present in the dataset it is represented as NAN(read pandas documentation for all the other ways to represent null values) in data

import pandas as pd
df.replace('?', pd.NA, inplace=True)
print(df.isnull().sum().sum())

5548

In [9]:
df.shape

(10000, 12)

In [10]:
df.head(2)

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South

In [12]:
df.iloc[692,0]

'2009-11-16'

In [13]:
df.iloc[546,7]

3

In [14]:
df['Locality'].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

In [15]:
# prompt: What are the unique values present in the Locality feature of the dataset?

print(df['Locality'].unique())

['Waterbury' 'Bridgeport' 'Greenwich' 'Norwalk' nan 'Fairfield'
 'West Hartford' 'Stamford']

In [17]:
df['Locality'].isnull().sum()

1253

In [23]:
df['property_tax_rate'].isnull().sum()

0

In [26]:
# prompt: Which of the following features have missing(NaN) values present in the dataset?

for column in df.columns:
  if df[column].isnull().any():
    print(column)

Locality
Estimated Value
Property
carpet_area

In [31]:
for coloumn in df.columns:
  a = df[coloumn].isnull().sum()
  print(coloumn, a)

Date 0
Year 0
Locality 1253
Estimated Value 1243
Sale Price 0
Property 1823
Residential 0
num_rooms 0
num_bathrooms 0
carpet_area 1229
property_tax_rate 0
Face 0

In [32]:
# prompt: Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?

import pandas as pd

# Assuming df is already defined and loaded with your data

df_cleaned = df.dropna(thresh=df.shape[1] - 2)

print(df_cleaned.shape[0])

9917

In [33]:
# prompt: Drop all the samples(rows) with missing values in the original dataframe. How many samples remains after that ?

df_dropped = df.dropna()
print(df_dropped.shape[0])

5449

In [34]:
# prompt: Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?
#  (Note: compute after removing "?")

import pandas as pd
# Assuming df is already defined and loaded with your data and '?' replaced with pd.NA

df_cleaned = df.dropna(thresh=df.shape[1] - 2)

print(df_cleaned.shape[0])

9917